<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../assets/styles.css">
    </head>
    <body>
        <% include ./partials/nav.ejs %>
        <h1>Welcome to the Home Page!</h1>
        <p>Here you can do anything!</p>
    </body>
</html>